body {
  background-image: url("imagelib2.jpg");
}
.container {
  margin-left: 25rem;
  margin-right: 25rem;
  background-color: rgba(240, 240, 240, 0.9);

  margin-top: 3rem;
  padding: 5rem;
}
input[type="text"],
input[type="password"] {
  width: 80%;
  height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.btn1 {
  background-color: green;
  color: wheat;
  margin-top: 3rem;
  border: 1px solid green;
  border-radius: 0.6rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.btn1:hover {
  background-color: white;
  color: green;
}
